#div1
{
background-color: pink;
border-radius: 8px;
}
#header2
{
font: italic 80px Times New Roman;
background-color: orange;
border: 5px solid green;
text-align: center;
border-radius: 5px;
}
#para
{
border: 2px solid blue;
background-color:lightgreen;
text-align:center;
font: bold 40px Helvetica;
}
#di2
{
background-color: lightblue;
border: 3px dashed blue;
border-radius: 10px;
font-size: 25px;
}
*
{
}